<div class="row">
  <div class="col-md-4">
    <h4>Customer Form</h4>
    <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" class="form-control" formControlName="fullName" id="fullname"
                  [ngClass]="{'is-invalid': formSubmitted && formControls.fullName.errors
                  }"
        >
        <div class="invalid-feedback" *ngIf="formSubmitted && formControls.fullName.errors">Full Name is required</div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" formControlName="email" id="email"
        [ngClass]="{'is-invalid': formSubmitted && formControls.email.errors
      }"
        >
        <div class="invalid-feedback" *ngIf="formSubmitted && formControls.email.errors">
          <span *ngIf="formControls.email.errors.required">Email is required</span>
          <span *ngIf="formControls.email.errors.email">Email pattern is not correct</span>
        </div>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" class="form-control" formControlName="mobile" id="mobile"
          [ngClass]="{'is-invalid':formSubmitted && formControls.mobile.errors}"
        >
        <div class="invalid-feedback" *ngIf="formSubmitted && formControls.mobile.errors">
          <span *ngIf="formControls.mobile.errors.required">Mobile is Required</span>
          <span *ngIf="formControls.mobile.errors.minlength">Mobile should be atleast 8 digit</span>
        </div>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" formControlName="location" id="location"
          [ngClass]="{'is-invalid': formSubmitted && formControls.location.errors}"
        >
        <div class="invalid-feedback" *ngIf="formSubmitted && formControls.location.errors">Location is required</div>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">Submit</button>
      </div>
      <div class="formGroup">
          <div class="alert alert-info" *ngIf="showSuccessMsg">Submitted Successfully</div>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <app-customer-list></app-customer-list>
  </div>
</div>